
.mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: 0 !important;
  //width: 400px !important;
  //height: 500px;
  //overflow: hidden !important;
}
